.App {
  background-color:#282c34;
  min-height: 300vh;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.spacing-div {
  min-height: 45vh;
}


.lightsDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(206, 22, 22);
  margin-left: 5%;
  margin-right: 5%;
  border-radius:25px;
  padding: 3px;
  min-height: 100vh;
  animation: example 2.5s linear;
  animation-iteration-count: infinite;

}

.contentDiv {
  background-color:rgb(0, 0, 0);
  border-radius: 25px;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
}



@keyframes example{
  100%,0%{
    background-color: rgb(255,0,0);
  }
  8%{
    background-color: rgb(255,127,0);
  }
  16%{
    background-color: rgb(255,255,0);
  }
  25%{
    background-color: rgb(127,255,0);
  }
  33%{
    background-color: rgb(0,255,0);
  }
  41%{
    background-color: rgb(0,255,127);
  }
  50%{
    background-color: rgb(0,255,255);
  }
  58%{
    background-color: rgb(0,127,255);
  }
  66%{
    background-color: rgb(0,0,255);
  }
  75%{
    background-color: rgb(127,0,255);
  }
  83%{
    background-color: rgb(255,0,255);
  }
  91%{
    background-color: rgb(255,0,127);
  }
  
}